<header class="flex flex-wrap lg:justify-start lg:flex-nowrap z-50 w-full py-7">
    <nav
        class="relative max-w-[95rem] w-full flex flex-wrap lg:grid lg:grid-cols-12 basis-full items-center px-4 md:px-6 lg:px-8 mx-auto">
        <div class="lg:col-span-3 flex items-center">
            <a rel="noopener noreferrer" href="index.html"
                class="flex justify-center items-center align-middle space-x-3 lg:justify-start">
                <div class="flex items-center justify-center w-24 h-24 rounded-full ">
                    <img src="assets/logo.png" alt="">
                </div>
                <div class="hidden lg:block">
                    <span class="self-center ">Tropical <span class="text-green-600">Biodiversity</span> Action and
                        <br>Research Center</span>
                </div>
            </a>
        </div>

        <!-- Right buttons -->
        <div class="flex items-center gap-x-1 lg:gap-x-2 ms-auto py-1 lg:ps-6 lg:order-3 lg:col-span-3">
            <a href="https://forms.gle/EryS6W5ztxADpMg27" target="_blank"
                class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium text-nowrap rounded-lg border border-transparent bg-green-800 text-white hover:bg-green-900">
                Get Involved!
            </a>
            <div class="lg:hidden">
                <button type="button"
                    class="hs-collapse-toggle size-9.5 flex justify-center items-center text-sm font-semibold rounded-xl border border-gray-200 text-black hover:bg-gray-100"
                    data-hs-collapse="#hs-pro-hcail">
                    ☰
                </button>
            </div>
        </div>

        <!-- Nav links -->
        <div id="hs-pro-hcail"
            class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow lg:block lg:w-auto lg:basis-auto lg:order-2 lg:col-span-6">
            <div class="flex flex-col gap-y-4 lg:flex-row lg:justify-center lg:items-center lg:gap-x-7 lg:mt-0">
                <a href="index.html" class="nav-link">Home</a>
                <a href="blog.html" class="nav-link">Blog</a>
                <a href="gallery.html" class="nav-link">Gallery</a>
                <a href="videos.html" class="nav-link">Videos</a>
                <a href="downloads.html" class="nav-link">Downloads</a>
                <a href="bio-invasion.html" class="nav-link">Bio-Invasion</a>
            </div>
        </div>
    </nav>
</header>